@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
:root {
  --box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
    0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
    inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  --primary-clr: rgb(13 36 131);
  --text-shadow: 2px 2px 2px BLACK;
}
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9e9e9e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Showing Alert */
.alert {
  display: block;
  background: black;
  color: crimson;
  text-shadow: 0 0 8px crimson;
  width: 200px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 20%;
  left: 10%;
  padding: 10px;
  z-index: 9;
  transform: translateX(-1000px);
  transition: 1s all ease;
}
.alert.active {
  transition: 1s all ease;
  transform: translateX(0);
}
/* Showing offline status */
.offline-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}
.card {
  --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
  width: 50%;
  min-width: 300px;
  height: 254px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: var(--background);
  position: relative;
  z-index: 1;
}
.card::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(25px);
  background: #f7ba2b;
  background: var(--background);
  transition: opacity 0.5s;
}
.card-info {
  --color: #181818;
  background: var(--color);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
}

.card .title {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: white;
  width: 250px;
  position: relative;
}

.card:hover::after {
  opacity: 0;
}

.card:hover .card-info {
  color: #f7ba2b;
  transition: color 1s;
}

/* Pre-Loader */
.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: fixed;
  z-index: 999999;
}
.loader {
  width: 72px;
  height: 72px;
  margin: auto;
  position: relative;
  transition: opacity 0.5s;
  opacity: 1;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
.loader:before {
  content: "";
  width: 72px;
  height: 7px;
  background: #f0808050;
  position: absolute;
  top: 95px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  width: 100%;
  min-height: 100vh;
  background: #dad9d9;
  color: black;
  transition: 0.3s all ease;
}
body.dark-theme {
  transition: 0.3s all ease;
  background: #0d0c0c;
  color: #e5e5e5e8;
}
*::selection {
  color: white;
  background-color: black;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  background-color: var(--primary-clr);
  padding: 15px 0 0 0;
}
.Menu-bar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background: var(--primary-clr);
  position: sticky;
  top: 0;
  z-index: 11;
}
.logo-section-container,
.logo-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
}
.logo-section {
  justify-content: flex-start;
  padding-left: 10px;
}
.logo-section-container {
  width: 50%;
}
.logo {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  filter: none;
}
.Menu-links {
  position: sticky;
  top: 10px;
  z-index: 1000;
  background: transparent;
  width: 80%;
  min-height: 50px;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: auto;
}
.Menu-links a {
  text-decoration: none;
  color: #dad9d9;
  padding: 7px;
  transition: 0.1s all ease;
  border-radius: 10px;
}
.Menu-links a:hover,
.Menu-links a.active {
  color: black;
  background-color: whitesmoke;
  box-shadow: var(--box-shadow);
}

.menu-icon {
  width: 23px;
  height: 23px;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 10px;
  z-index: 11;
}
.menu-icon-bar:nth-child(2) {
  transition: 0.5s all ease;
  opacity: 1;
}
.menu-icon-bar:nth-child(1) {
  transition: 0.5s all ease;
  transform: rotate(0deg) translate(0px, 0px);
}
.menu-icon-bar:nth-child(3) {
  transition: 0.5s all ease;
  transform: rotate(0deg) translate(0px, 0px);
}

.menu-icon.cross .menu-icon-bar:nth-child(2) {
  transition: 0.5s all ease;
  opacity: 0;
}
.menu-icon.cross .menu-icon-bar:nth-child(1) {
  transition: 0.5s all ease;
  transform: rotate(45deg) translate(6px, 4px);
}
.menu-icon.cross .menu-icon-bar:nth-child(3) {
  transition: 0.5s all ease;
  transform: rotate(-45deg) translate(6px, -4px);
}
.menu-icon-bar {
  width: 20px;
  height: 4px;
  background: whitesmoke;
  border-radius: 4px;
}

body.dark-theme .theme-toggler {
  background: white;
}
body.dark-theme .theme-toggler::before {
  transition: 1s all ease;
  content: "🌑";
}
.theme-toggler {
  transition: 1s all ease;
  cursor: pointer;
  z-index: 9;
  position: fixed;
  top: 85%;
  left: 94%;
  width: 40px;
  background: #0d0c0c;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  box-shadow: var(--box-shadow);
}
.theme-toggler::before {
  transition: 1s all ease;
  content: "🌞";
}
.modal-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
}
/* Modal  */
.modal {
  color: #000;
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  backdrop-filter: blur(10px);
}
.modal::-webkit-scrollbar {
  display: none;
}
.modal-button-span {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px;
}
.modal-button-span:nth-child(1) {
  justify-content: flex-start;
}
/* Modal Content/Box */
.instructions-modal-content,
.result-modal-content {
  background: black;
  margin: 15% auto;
  padding: 20px;
  border: none;
  width: fit-content;
  color: white;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
}

.err {
  color: crimson;
  display: block;
  padding: 6px;
  text-shadow: 0 0 8px red;
}
.err::selection {
  background: crimson;
  color: white;
}
.instructions-list {
  padding: 10px 1%;
}
.instructions-list > li {
  color: white;
  list-style: decimal;
  margin-top: 10px;
}
.instructions-list > li::marker {
  color: chartreuse;
}
.name a {
  color: #5468ff;
  text-shadow: 0 0 8px var(--primary-clr);
  transition: 0.5s all ease;
  padding: 6px;
}
.inst-btm {
  text-align: center;
  width: 100%;
  display: block;
}
.result-modal-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
/* Close Button */
.close {
  color: red;
  position: relative;
  left: 50%;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: whitesmoke;
  text-decoration: none;
}
.download-result-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
.finalresultcontainer {
  width: 300px;
  min-height: 10vh;
  font-size: 1.3rem;
  margin-top: 10%;
  background: black;
  border-radius: 5px;
}
.finalgrade,
.finalSGPA,
.finalpercentage {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  border-left: 2px solid yellow;
  border-right: 2px solid yellow;
  border-radius: 3px;
}
.finalgrade-tittle,
.finalSGPA-tittle,
.finalpercentage-tittle,
.obtainedCGPA-tittle {
  color: crimson;
  text-shadow: 0 0 10px red;
}
.finalgrade-value,
.finalSGPA-value,
.finalpercentage-value,
#obtCGPA {
  color: #3dd73d;
  text-shadow: 0 0 10px #3dd73d;
  text-align: center;
  width: 30%;
}

/* Result Table */
table {
  width: 100%;
  /* border-collapse: collapse; */
}

th,
td {
  /* border: 1.5px solid white; */
  padding: 8px;
  background: black;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 8px 1px var(--primary-clr);
}

th {
  background-color: var(--primary-clr);
  font-size: 1.2rem;
}
.subject {
  text-shadow: 0 0 10px rgb(159, 112, 26);
  color: orange;
  font-weight: 800;
}
button {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #51a9c2 0%, #2c3cb6 100%);
  box-shadow: var(--box-shadow);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: var(--box-shadow);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
    0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%),
    inset 0px -0.1em 0px var(--primary-clr);
  transform: translateY(-0.1em);
}

button:active {
  box-shadow: inset 0px 0.1em 0.6em var(--primary-clr);
  transform: translateY(0em);
}
#resultcard-btn.clickedsubmit {
  animation: beat 0.3s ease-in-out infinite;
}
@keyframes beat {
  0% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#instructions-btn,
.delete-btn {
  background: crimson;
  box-shadow: 0 0 5px red;
}
#instructions-btn:hover,
.delete-btn:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
    0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px crimson;
}
.delete-btn {
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btns-bg-swiper-element {
  background: #e2e226;
  filter: drop-shadow(var(--box-shadow));
  width: 85px;
  height: 50px;
  position: absolute;
  z-index: 1;
  transform: translateX(-62.8px);
  transition: 1s all ease;
  border-radius: 5px;
}
.CGPA-btn,
.SGPA-btn {
  width: 80px;
  cursor: pointer;
  color: white;
  z-index: 1;
  border-radius: 5px;
  text-align: center;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all ease;
  background: black;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
}
.Swiper-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 30px;
}
.swiper-btns-container {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--primary-clr);
  height: 100%;
  position: relative;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
.toggle-sections {
  overflow: hidden;
  /* margin-top: 5%; */
  width: 300px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.CGPA-Section {
  transform: translateX(100%) scale(0.5);
  transition: 1s all ease;
  opacity: 1;
}
.SGPA-Section {
  transition: 1s all ease;
  transform: translateX(50%);
}
.CGPA-Section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#semesters-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin: 25px 0px;
}
.Add-semester-btn-container {
  margin: 10% 0;
  display: block;
}
#add-sem-btn {
  width: 130px;
  font-size: 1rem;
  padding: 5px;
}
.ObtCGPA-Container {
  background: black;
  color: white;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.obtainedCGPA-tittle {
  font-size: 1.3rem;
}
#obtCGPA {
  /* transform: translateY(15px); */
  transition: 1s all ease;
}
.features {
  width: 250px;
  height: 100%;
  position: absolute;
  left: -255px;
  /* top: 40%; */
  background: var(--primary-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s all ease;
  z-index: 8;
  color: whitesmoke;
  box-shadow: var(--box-shadow);
}
.features.active {
  border-radius: 0px 40px 40px 0px;
  text-shadow: 0 0 5px black;
  transition: 1s all ease;
  transition-delay: 0.3s;
  left: 0;
}
.features-content > ul > li {
  transition: 2s all ease;
  opacity: 0;
  transform: translateX(-100%);
}

.features.active .features-content > ul > li {
  transition: 2s all ease;
  opacity: 1;
  transform: translateX(0);
}
.features.active .features-content > ul > li:nth-child(even) {
  transition-delay: 0.2s;
}
.features.active .features-content > ul > li:nth-child(odd) {
  transition-delay: 0.4s;
}
.arrow {
  width: 40px;
  background: var(--primary-clr);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 250px;
  cursor: pointer;
  transition: 0.5s all ease;
  box-shadow: -8px 0px 20px -5px #242f85;
  border-radius: 0px 30px 30px 0px;
  font-size: 2rem;
}
.arrow:hover {
  box-shadow: 0 0 10px var(--primary-clr);
}
.arrow.active {
  animation: out 1s ease-in-out 1;
  transition: 0.5s all ease;
}
@keyframes out {
  0% {
    width: 40px;
  }
  50% {
    width: 150px;
  }
  100% {
    width: 40px;
  }
}
.arrow.active > i {
  transition-delay: 1s;
  transform: rotate(180deg);
}
.arrow > i {
  transition: 1s all ease;
  font-size: 2.2rem;
  font-family: sans-serif;
}
.arrow.active i {
  animation: iout 0.99s linear 1;
}
@keyframes iout {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateX(60px);
  }
  100% {
    transform: translate(0) rotate(180deg);
  }
}
ul {
  padding: 20px 10%;
  font-size: 0.8rem;
}
ul > li {
  font-size: 1rem;
  text-align: left;
  margin-top: 10%;
  list-style: circle;
  color: gold;
}
ul > li::marker {
  color: white;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
}
img {
  cursor: pointer;
  width: 90%;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 10px rgb(186, 184, 184));
}
strong {
  font-weight: bolder;
  color: crimson;
  text-shadow: 0 0 1px #ff0008;
}
strong:nth-child(5),
strong:nth-child(6) {
  color: green;
  text-shadow: 0 0 1px green;
}

strong:nth-child(7) {
  color: rgb(3, 23, 241);
  text-shadow: none;
}

.data-saving-message {
  color: var(--primary-clr);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.dark-theme .data-saving-message {
  color: #07bc0c;
}
.details-section {
  padding: 10px;
  width: 95%;
  border-radius: 10px;
}
details {
  min-height: 40px;
  background-color: #181818;
  color: yellow;
  margin: 10px;
  border-radius: 10px;
  box-shadow: var(--text-shadow);
  cursor: pointer;
  transition: max-height 1s ease;
  max-height: 0;
  overflow: hidden;
}
details[open] {
  max-height: 200px;
}
summary {
  display: flex;
  justify-content: left;
  font-size: 1.5rem;
  align-items: center;
  margin-top: 4px;
}
details > p {
  font-size: 1rem;
  color: azure;
}
details,
summary {
  padding: 5px 10px;
  text-align: left;
}
#Assesments {
  gap: 40px;
}

#Assesments,
#Assesments form,
#Assesments form .assesment-form-inner,
.subject-input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.message {
  display: none;
  width: 100%;
  font-size: 0.7rem;
  margin: -10px;
  justify-content: center;
  align-items: center;
}
.message.error {
  display: flex;
  color: red;
}
.message.success {
  display: flex;
  color: #07bc0c;
}
input {
  border: solid 1.5px #9e9e9e;
  border-radius: 0.5rem;
  background: none;
  padding: 5px 20px 10px 10px;
  font-size: 1rem;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 200px;
  transform: scale(1);
  transition: 0.5s all ease;
}
input:disabled {
  background: #d5d4d4;
  box-shadow: inset 0 0 5px #00000030;
}
input:focus {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px -4px var(--primary-clr);
  border: none;
  outline: 1px solid var(--primary-clr);
}
body.dark-theme input:focus {
  box-shadow: 0px 0px 10px -4px yellow;
  border: none;
  outline: 1px solid yellow;
}
body.dark-theme input {
  color: #f5f5f5;
}
label {
  font-size: 1.2rem;
}
h1,
.blog-post-main-heading {
  font-size: clamp(2rem, -1.5rem + 8vw, 2.5rem);
  color: whitesmoke;
}
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 800;
}
#subject-name-below-assesment,
#obtained-marks-below-assesment {
  background: black;
  border-radius: 5px;
  padding: 2px;
  margin: 0px 5px;
  color: white;
}
.data-below-assesment {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  background: #3aca3a;
  width: 100%;
}

/* Blog section */
.blog-post {
  padding: 5%;
}
.blog-post-section {
  flex-direction: column;
}
.blog-post-header {
  margin: 20px 0;
  text-shadow: var(--text-shadow);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 20px;
}
.blog-post-table {
  margin: 20px 0;
  width: 60%;
}
.blog-post-heading {
  font-weight: bolder;
  margin: 20px 0;
  text-shadow: var(--box-shadow);
}
.calculator-blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.calculator-blog-inner {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  transform: scale(0.9);
  background: #877f7f4a;
  border: 1px solid black;
  transition: 0.2s all ease;
}
.calculator-blog:hover .calculator-blog-inner:not(:hover) {
  filter: blur(2px);
}
.calculator-blog-inner:hover {
  transform: scale(1);
  box-shadow: var(--box-shadow);
}
small {
  display: block;
  padding: 10px 0;
  color: var(--primary-clr);
  text-shadow: 0 0 1px green;
}
body.dark-theme small {
  color: #73ec73;
}
small > i {
  color: red;
}
p {
  text-align: justify;
  padding: 0 10px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .theme-toggler {
    left: 90%;
  }
  button {
    padding: 0 1em;
    height: 2.3em;
  }
  .data-below-assesment {
    min-height: 7vh;
  }
  .blog-post {
    padding: 1%;
  }
  .blog-post-table {
    width: 100%;
  }
  .blog-post-header {
    padding: 10px 0;
  }
  .Menu-links {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 100%;
    background: crimson;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
    z-index: 10;
    box-shadow: var(--box-shadow);
  }
  .Menu-links.menu-open {
    transition: 0.5s all ease-in-out;
    top: 0px;
  }
  .Menu-links a {
    font-size: 1.5rem;
    transition: 1s all ease;
  }
  .Menu-links a.menu-open {
    transition: 1s all ease;
  }
  .Menu-links a:nth-child(1) {
    transform: translateY(150px);
  }
  .Menu-links a:nth-child(2) {
    transform: translateY(160px);
  }
  .Menu-links a:nth-child(3) {
    transform: translateY(170px);
  }
  .Menu-links a:nth-child(4) {
    transform: translateY(175px);
  }
  .Menu-links a:nth-child(5) {
    transform: translateY(180px);
  }

  .Menu-links a.menu-open:nth-child(1) {
    transition-delay: 0.1s;
    transform: translateY(0);
  }
  .Menu-links a.menu-open:nth-child(2) {
    transition-delay: 0.2s;
    transform: translateY(0);
  }
  .Menu-links a.menu-open:nth-child(3) {
    transition-delay: 0.3s;
    transform: translateY(0);
  }
  .Menu-links a.menu-open:nth-child(4) {
    transition-delay: 0.4s;
    transform: translateY(0);
  }
  .Menu-links a.menu-open:nth-child(5) {
    transition-delay: 0.5s;
    transform: translateY(0);
  }
  .menu-icon {
    display: flex;
    cursor: pointer;
  }
  .logo-section {
    justify-content: flex-start;
    padding-left: 10px;
  }
  .logo-section-container {
    width: 100%;
  }
  img {
    width: 100%;
  }
  .calculator-blog {
    grid-template-columns: repeat(1, 1fr);
  }
}
